 .u-section-1 {
  background-image: url("images/Artboard3.png");
  background-position: 50% 50%;
  min-height: 1752px;
}

.u-section-1 .u-text-1 {
  font-size: 1.875rem;
  font-family: Junge;
  width: 449px;
  margin: 1719px auto 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 1445px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1107px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 830px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 523px;
  }

  .u-section-1 .u-text-1 {
    width: 340px;
  }
}

.u-block-172c-3:not([data-block-selected]):not([data-cell-selected]),
.u-block-172c-3:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-172c-3:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-172c-3:not([data-block-selected]):not([data-cell-selected]).u-block-172c-3:not([data-block-selected]):not([data-cell-selected]).u-block-172c-3:not([data-block-selected]):not([data-cell-selected]):hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  box-shadow: 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  opacity: 0.3 !important;
}

.u-block-172c-3:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-172c-3:not([data-block-selected]):not([data-cell-selected]).u-block-172c-3:not([data-block-selected]):not([data-cell-selected]).u-block-172c-3:not([data-block-selected]):not([data-cell-selected]).hover {
  text-shadow: 2px 2px 8px rgba(128,128,128,1) !important;
  box-shadow: 0px  rgba(0,0,0,0) !important;
  transform: scale(1) translateY(px) !important;
  opacity: 0.3 !important;
}

.u-block-172c-3:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-172c-3:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-172c-3:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-172c-66:not([data-block-selected]):not([data-cell-selected]),
.u-block-172c-66:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-172c-66:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-container-layout:hover .u-block-172c-66:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-172c-66:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-172c-52:not([data-block-selected]):not([data-cell-selected]),
.u-block-172c-52:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-172c-52:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-172c-52:not([data-block-selected]):not([data-cell-selected]).u-block-172c-52:not([data-block-selected]):not([data-cell-selected]).u-block-172c-52:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-172c-52:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-172c-52:not([data-block-selected]):not([data-cell-selected]).u-block-172c-52:not([data-block-selected]):not([data-cell-selected]).u-block-172c-52:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-172c-52:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-172c-52:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-172c-52:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-172c-69:not([data-block-selected]):not([data-cell-selected]),
.u-block-172c-69:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-172c-69:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-172c-69:not([data-block-selected]):not([data-cell-selected]).u-block-172c-69:not([data-block-selected]):not([data-cell-selected]).u-block-172c-69:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-172c-69:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-172c-69:not([data-block-selected]):not([data-cell-selected]).u-block-172c-69:not([data-block-selected]):not([data-cell-selected]).u-block-172c-69:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-172c-69:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-172c-69:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-172c-69:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-block-172c-135:not([data-block-selected]):not([data-cell-selected]),
.u-block-172c-135:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-172c-135:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-block-172c-135:not([data-block-selected]):not([data-cell-selected]).u-block-172c-135:not([data-block-selected]):not([data-cell-selected]).u-block-172c-135:not([data-block-selected]):not([data-cell-selected]):hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-172c-135:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-block-172c-135:not([data-block-selected]):not([data-cell-selected]).u-block-172c-135:not([data-block-selected]):not([data-cell-selected]).u-block-172c-135:not([data-block-selected]):not([data-cell-selected]).hover {
  transform: translateX(10px) translateY(0px) scale(1) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-block-172c-135:not([data-block-selected]):not([data-cell-selected]) {
  border-color: transparent !important;
}

.u-container-layout:hover .u-block-172c-135:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-block-172c-135:not([data-block-selected]):not([data-cell-selected]) {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
} .u-section-2 {
  min-height: 2646px;
}

.u-section-2 .u-text-1 {
  width: 195px;
  margin: 0 auto;
}

.u-section-2 .u-list-1 {
  width: 1483px;
  margin: 12px auto 0;
}

.u-section-2 .u-repeater-1 {
  min-height: 574px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-1 {
  padding: 0 0 10px;
}

.u-section-2 .u-video-1 {
  height: 392px;
  width: 710px;
  margin: 39px -22px 0 795px;
}

.u-section-2 .embed-responsive-1 {
  position: absolute;
}

.u-section-2 .u-video-2 {
  height: 392px;
  width: 698px;
  margin: -392px 785px 0 0;
}

.u-section-2 .embed-responsive-2 {
  position: absolute;
}

.u-section-2 .u-text-2 {
  margin: 39px auto 0;
}

.u-section-2 .u-container-layout-2 {
  padding: 0 0 10px;
}

.u-section-2 .u-video-3 {
  height: 392px;
  width: 710px;
  margin: 39px -22px 0 795px;
}

.u-section-2 .embed-responsive-3 {
  position: absolute;
}

.u-section-2 .u-video-4 {
  height: 392px;
  width: 698px;
  margin: -392px 785px 0 0;
}

.u-section-2 .embed-responsive-4 {
  position: absolute;
}

.u-section-2 .u-text-3 {
  margin: 39px auto 0;
}

.u-section-2 .u-container-layout-3 {
  padding: 0 0 10px;
}

.u-section-2 .u-video-5 {
  height: 392px;
  width: 710px;
  margin: 39px -22px 0 795px;
}

.u-section-2 .embed-responsive-5 {
  position: absolute;
}

.u-section-2 .u-video-6 {
  height: 392px;
  width: 698px;
  margin: -392px 785px 0 0;
}

.u-section-2 .embed-responsive-6 {
  position: absolute;
}

.u-section-2 .u-text-4 {
  margin: 39px auto 0;
}

.u-section-2 .u-gallery-nav-1 {
  position: absolute;
  left: 10px;
  width: 94px;
  height: 94px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  top: 198px;
  padding: 0;
}

.u-section-2 .u-gallery-nav-2 {
  position: absolute;
  width: 94px;
  height: 94px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  left: auto;
  top: 198px;
  right: 10px;
  padding: 0;
}

.u-section-2 .u-list-2 {
  width: 1483px;
  height: auto;
  min-height: 574px;
  margin: -55px auto 0;
}

.u-section-2 .u-repeater-2 {
  min-height: 574px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-4 {
  padding: 0 0 10px;
}

.u-section-2 .u-video-7 {
  height: 392px;
  width: 710px;
  margin: 75px 0 0 773px;
}

.u-section-2 .embed-responsive-7 {
  position: absolute;
}

.u-section-2 .u-video-8 {
  height: 392px;
  width: 698px;
  margin: -392px 785px 0 0;
}

.u-section-2 .embed-responsive-8 {
  position: absolute;
}

.u-section-2 .u-container-layout-5 {
  padding: 0 0 10px;
}

.u-section-2 .u-video-9 {
  height: 392px;
  width: 710px;
  margin: 75px 0 0 773px;
}

.u-section-2 .embed-responsive-9 {
  position: absolute;
}

.u-section-2 .u-video-10 {
  height: 392px;
  width: 698px;
  margin: -392px 785px 0 0;
}

.u-section-2 .embed-responsive-10 {
  position: absolute;
}

.u-section-2 .u-container-layout-6 {
  padding: 0 0 10px;
}

.u-section-2 .u-video-11 {
  height: 392px;
  width: 710px;
  margin: 75px 0 0 773px;
}

.u-section-2 .embed-responsive-11 {
  position: absolute;
}

.u-section-2 .u-video-12 {
  height: 392px;
  width: 698px;
  margin: -392px 785px 0 0;
}

.u-section-2 .embed-responsive-12 {
  position: absolute;
}

.u-section-2 .u-gallery-nav-3 {
  position: absolute;
  left: 10px;
  width: 94px;
  height: 94px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  top: 198px;
  padding: 0;
}

.u-section-2 .u-gallery-nav-4 {
  position: absolute;
  width: 94px;
  height: 94px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  left: auto;
  top: 198px;
  right: 10px;
  padding: 0;
}

.u-section-2 .u-list-3 {
  width: 1483px;
  margin: -74px auto 0;
}

.u-section-2 .u-repeater-3 {
  min-height: 574px;
  grid-auto-columns: 100%;
  grid-template-columns: 100%;
  grid-gap: 0px 0px;
}

.u-section-2 .u-container-layout-7 {
  padding: 0 0 10px;
}

.u-section-2 .u-text-5 {
  width: 260px;
  margin: 0 auto;
}

.u-section-2 .u-video-13 {
  height: 392px;
  width: 710px;
  margin: 27px 0 0 773px;
}

.u-section-2 .embed-responsive-13 {
  position: absolute;
}

.u-section-2 .u-video-14 {
  height: 392px;
  width: 698px;
  margin: -392px 785px 0 0;
}

.u-section-2 .embed-responsive-14 {
  position: absolute;
}

.u-section-2 .u-container-layout-8 {
  padding: 0 0 10px;
}

.u-section-2 .u-text-6 {
  width: 260px;
  margin: 0 auto;
}

.u-section-2 .u-video-15 {
  height: 392px;
  width: 710px;
  margin: 27px 0 0 773px;
}

.u-section-2 .embed-responsive-15 {
  position: absolute;
}

.u-section-2 .u-video-16 {
  height: 392px;
  width: 698px;
  margin: -392px 785px 0 0;
}

.u-section-2 .embed-responsive-16 {
  position: absolute;
}

.u-section-2 .u-container-layout-9 {
  padding: 0 0 10px;
}

.u-section-2 .u-text-7 {
  width: 260px;
  margin: 0 auto;
}

.u-section-2 .u-video-17 {
  height: 392px;
  width: 710px;
  margin: 27px 0 0 773px;
}

.u-section-2 .embed-responsive-17 {
  position: absolute;
}

.u-section-2 .u-video-18 {
  height: 392px;
  width: 698px;
  margin: -392px 785px 0 0;
}

.u-section-2 .embed-responsive-18 {
  position: absolute;
}

.u-section-2 .u-gallery-nav-5 {
  position: absolute;
  left: 10px;
  width: 94px;
  height: 94px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  top: 198px;
  padding: 0;
}

.u-section-2 .u-gallery-nav-6 {
  position: absolute;
  width: 94px;
  height: 94px;
  box-shadow: 0px 0px 8px 0px rgba(128,128,128,1);
  left: auto;
  top: 198px;
  right: 10px;
  padding: 0;
}

.u-section-2 .u-image-1 {
  height: 939px;
  margin-top: -120px;
  margin-bottom: 0;
  filter: brightness(0.35);
}

.u-section-2 .u-text-8 {
  font-size: 2.75rem;
  text-shadow: 2px 2px 20px rgba(0,0,0,0.4);
  font-family: Junge;
  margin: -829px calc(((100% - 1140px) / 2) + 641px) 0 calc(((100% - 1140px) / 2) + -71px);
}

.u-section-2 .u-text-9 {
  text-transform: none;
  font-size: 1.5rem;
  font-family: Cinzel;
  margin: 180px calc(((100% - 1140px) / 2) + 717px) 60px calc(((100% - 1140px) / 2) + -76px);
}

@media (max-width: 1199px) {
  .u-section-2 .u-list-1 {
    width: 940px;
  }

  .u-section-2 .u-video-1 {
    margin-left: 523px;
  }

  .u-section-2 .u-video-2 {
    height: 393px;
    margin-right: 242px;
  }

  .u-section-2 .u-video-3 {
    margin-left: 523px;
  }

  .u-section-2 .u-video-4 {
    height: 393px;
    margin-right: 242px;
  }

  .u-section-2 .u-video-5 {
    margin-left: 523px;
  }

  .u-section-2 .u-video-6 {
    height: 393px;
    margin-right: 242px;
  }

  .u-section-2 .u-list-2 {
    width: 940px;
  }

  .u-section-2 .u-video-7 {
    margin-left: 230px;
  }

  .u-section-2 .u-video-8 {
    height: 393px;
    margin-right: 242px;
  }

  .u-section-2 .u-video-9 {
    margin-left: 230px;
  }

  .u-section-2 .u-video-10 {
    height: 393px;
    margin-right: 242px;
  }

  .u-section-2 .u-video-11 {
    margin-left: 230px;
  }

  .u-section-2 .u-video-12 {
    height: 393px;
    margin-right: 242px;
  }

  .u-section-2 .u-list-3 {
    width: 940px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 273px;
    margin-right: 273px;
  }

  .u-section-2 .u-video-13 {
    margin-left: 230px;
  }

  .u-section-2 .u-video-14 {
    height: 393px;
    margin-right: 242px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 273px;
    margin-right: 273px;
  }

  .u-section-2 .u-video-15 {
    margin-left: 230px;
  }

  .u-section-2 .u-video-16 {
    height: 393px;
    margin-right: 242px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 273px;
    margin-right: 273px;
  }

  .u-section-2 .u-video-17 {
    margin-left: 230px;
  }

  .u-section-2 .u-video-18 {
    height: 393px;
    margin-right: 242px;
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 940px) / 2) + 541px);
    margin-left: calc(((100% - 940px) / 2) + -71px);
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 940px) / 2) + 617px);
    margin-left: calc(((100% - 940px) / 2) + -76px);
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-list-1 {
    width: 720px;
  }

  .u-section-2 .u-video-1 {
    margin-left: 278px;
  }

  .u-section-2 .u-video-2 {
    margin-right: 22px;
  }

  .u-section-2 .u-video-3 {
    margin-left: 278px;
  }

  .u-section-2 .u-video-4 {
    margin-right: 22px;
  }

  .u-section-2 .u-video-5 {
    margin-left: 278px;
  }

  .u-section-2 .u-video-6 {
    margin-right: 22px;
  }

  .u-section-2 .u-list-2 {
    width: 720px;
  }

  .u-section-2 .u-video-7 {
    margin-left: 10px;
  }

  .u-section-2 .u-video-8 {
    margin-right: 22px;
  }

  .u-section-2 .u-video-9 {
    margin-left: 10px;
  }

  .u-section-2 .u-video-10 {
    margin-right: 22px;
  }

  .u-section-2 .u-video-11 {
    margin-left: 10px;
  }

  .u-section-2 .u-video-12 {
    margin-right: 22px;
  }

  .u-section-2 .u-list-3 {
    width: 720px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 209px;
    margin-right: 209px;
  }

  .u-section-2 .u-video-13 {
    margin-left: 10px;
  }

  .u-section-2 .u-video-14 {
    margin-right: 22px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 209px;
    margin-right: 209px;
  }

  .u-section-2 .u-video-15 {
    margin-left: 10px;
  }

  .u-section-2 .u-video-16 {
    margin-right: 22px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 209px;
    margin-right: 209px;
  }

  .u-section-2 .u-video-17 {
    margin-left: 10px;
  }

  .u-section-2 .u-video-18 {
    margin-right: 22px;
  }

  .u-section-2 .u-text-8 {
    margin-right: calc(((100% - 720px) / 2) + 431px);
    margin-left: calc(((100% - 720px) / 2) + -71px);
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 720px) / 2) + 507px);
    margin-left: calc(((100% - 720px) / 2) + -76px);
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-list-1 {
    width: 540px;
  }

  .u-section-2 .u-video-1 {
    height: 298px;
    width: 540px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-video-2 {
    height: 304px;
    width: 540px;
    margin-top: -298px;
    margin-right: 0;
  }

  .u-section-2 .u-video-3 {
    height: 298px;
    width: 540px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-video-4 {
    height: 304px;
    width: 540px;
    margin-top: -298px;
    margin-right: 0;
  }

  .u-section-2 .u-video-5 {
    height: 298px;
    width: 540px;
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-2 .u-video-6 {
    height: 304px;
    width: 540px;
    margin-top: -298px;
    margin-right: 0;
  }

  .u-section-2 .u-list-2 {
    width: 540px;
  }

  .u-section-2 .u-video-7 {
    height: 298px;
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-video-8 {
    height: 304px;
    width: 540px;
    margin-top: -298px;
    margin-right: 0;
  }

  .u-section-2 .u-video-9 {
    height: 298px;
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-video-10 {
    height: 304px;
    width: 540px;
    margin-top: -298px;
    margin-right: 0;
  }

  .u-section-2 .u-video-11 {
    height: 298px;
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-video-12 {
    height: 304px;
    width: 540px;
    margin-top: -298px;
    margin-right: 0;
  }

  .u-section-2 .u-list-3 {
    width: 540px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 157px;
    margin-right: 157px;
  }

  .u-section-2 .u-video-13 {
    height: 298px;
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-video-14 {
    height: 304px;
    width: 540px;
    margin-top: -298px;
    margin-right: 0;
  }

  .u-section-2 .u-text-6 {
    margin-left: 157px;
    margin-right: 157px;
  }

  .u-section-2 .u-video-15 {
    height: 298px;
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-video-16 {
    height: 304px;
    width: 540px;
    margin-top: -298px;
    margin-right: 0;
  }

  .u-section-2 .u-text-7 {
    margin-left: 157px;
    margin-right: 157px;
  }

  .u-section-2 .u-video-17 {
    height: 298px;
    width: 540px;
    margin-left: 0;
  }

  .u-section-2 .u-video-18 {
    height: 304px;
    width: 540px;
    margin-top: -298px;
    margin-right: 0;
  }

  .u-section-2 .u-text-8 {
    font-size: 2.25rem;
    margin-right: calc(((100% - 540px) / 2) + 341px);
    margin-left: calc(((100% - 540px) / 2) + -71px);
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 540px) / 2) + 417px);
    margin-left: calc(((100% - 540px) / 2) + -76px);
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-list-1 {
    width: 340px;
  }

  .u-section-2 .u-video-1 {
    height: 188px;
    width: 340px;
  }

  .u-section-2 .u-video-2 {
    height: 191px;
    width: 340px;
    margin-top: -188px;
  }

  .u-section-2 .u-video-3 {
    height: 188px;
    width: 340px;
  }

  .u-section-2 .u-video-4 {
    height: 191px;
    width: 340px;
    margin-top: -188px;
  }

  .u-section-2 .u-video-5 {
    height: 188px;
    width: 340px;
  }

  .u-section-2 .u-video-6 {
    height: 191px;
    width: 340px;
    margin-top: -188px;
  }

  .u-section-2 .u-list-2 {
    width: 340px;
  }

  .u-section-2 .u-video-7 {
    height: 188px;
    width: 340px;
  }

  .u-section-2 .u-video-8 {
    height: 191px;
    width: 340px;
    margin-top: -188px;
  }

  .u-section-2 .u-video-9 {
    height: 188px;
    width: 340px;
  }

  .u-section-2 .u-video-10 {
    height: 191px;
    width: 340px;
    margin-top: -188px;
  }

  .u-section-2 .u-video-11 {
    height: 188px;
    width: 340px;
  }

  .u-section-2 .u-video-12 {
    height: 191px;
    width: 340px;
    margin-top: -188px;
  }

  .u-section-2 .u-list-3 {
    width: 340px;
  }

  .u-section-2 .u-text-5 {
    margin-left: 99px;
    margin-right: 99px;
  }

  .u-section-2 .u-video-13 {
    height: 188px;
    width: 340px;
  }

  .u-section-2 .u-video-14 {
    height: 191px;
    width: 340px;
    margin-top: -188px;
  }

  .u-section-2 .u-text-6 {
    margin-left: 99px;
    margin-right: 99px;
  }

  .u-section-2 .u-video-15 {
    height: 188px;
    width: 340px;
  }

  .u-section-2 .u-video-16 {
    height: 191px;
    width: 340px;
    margin-top: -188px;
  }

  .u-section-2 .u-text-7 {
    margin-left: 99px;
    margin-right: 99px;
  }

  .u-section-2 .u-video-17 {
    height: 188px;
    width: 340px;
  }

  .u-section-2 .u-video-18 {
    height: 191px;
    width: 340px;
    margin-top: -188px;
  }

  .u-section-2 .u-text-8 {
    font-size: 1.875rem;
    margin-right: calc(((100% - 340px) / 2) + 241px);
    margin-left: calc(((100% - 340px) / 2) + -71px);
  }

  .u-section-2 .u-text-9 {
    margin-right: calc(((100% - 340px) / 2) + 317px);
    margin-left: calc(((100% - 340px) / 2) + -76px);
  }
}.u-section-3 .u-sheet-1 {
  min-height: 33px;
} .u-section-4 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.85), rgba(0,0,0,0.85)), url("images/pexels-caleb-oquendo-4889278.jpg");
  background-position: 50% 50%;
}

.u-section-4 .u-sheet-1 {
  min-height: 1541px;
}

.u-section-4 .u-layout-wrap-1 {
  margin-top: 89px;
  margin-bottom: 60px;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 428px;
}

.u-section-4 .u-container-layout-1 {
  padding: 30px;
}

.u-section-4 .u-text-1 {
  font-size: 2.25rem;
  font-family: Cinzel;
  margin: 46px auto 0 23px;
}

.u-section-4 .u-btn-1 {
  font-size: 1.25rem;
  transition-duration: 0.5s;
  transform: translateX(0px) translateY(0px) scale(1) rotate(0deg);
  box-shadow: 0px 0px 0px rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  margin: 113px auto 0 23px;
  padding: 0;
}

.u-section-4 .u-icon-1 {
  font-size: 1.2em;
}

.u-section-4 .u-btn-2 {
  background-image: none;
  font-size: 1.125rem;
  margin: 16px 315px 0 auto;
  padding: 0;
}

.u-section-4 .u-text-2 {
  font-size: 1.25rem;
  margin: 16px auto 0 23px;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 339px;
}

.u-section-4 .u-container-layout-2 {
  padding: 15px 30px;
}

.u-section-4 .u-text-3 {
  text-transform: none;
  font-size: 2.25rem;
  margin: 66px auto 0 0;
}

.u-section-4 .u-social-icons-1 {
  white-space: nowrap;
  height: 32px;
  min-height: 16px;
  width: 408px;
  min-width: 328px;
  margin: 23px auto 0 0;
}

.u-section-4 .u-icon-3 {
  height: 100%;
}

.u-section-4 .u-icon-4 {
  height: 100%;
}

.u-section-4 .u-icon-5 {
  height: 100%;
}

.u-section-4 .u-icon-6 {
  height: 100%;
  color: rgb(210, 34, 21) !important;
}

.u-section-4 .u-icon-7 {
  height: 100%;
  color: rgb(0, 230, 118) !important;
}

.u-section-4 .u-text-4 {
  font-size: 1.25rem;
  margin: 32px 0 0;
}

.u-section-4 .u-layout-cell-3 {
  min-height: 768px;
}

.u-section-4 .u-container-layout-3 {
  padding: 21px 0;
}

.u-section-4 .u-text-5 {
  font-family: "Aref Ruqaa Ink";
  font-size: 1.5rem;
  margin: 225px 62px 0 43px;
}

.u-section-4 .u-text-6 {
  text-transform: none;
  font-size: 1.5rem;
  font-family: Cinzel;
  margin: 46px 26px 0 45px;
}

.u-section-4 .u-form-1 {
  height: 286px;
  width: 519px;
  margin: 39px auto 0;
}

.u-section-4 .u-form-group-3 {
  margin-bottom: auto !important;
  margin-top: 0;
}

.u-section-4 .u-btn-3 {
  border-style: solid;
  padding-top: 10px;
  padding-bottom: 10px;
  background-image: none;
  box-shadow: -1px 7px 13px 0px rgba(128,128,128,0.6);
}

@media (max-width: 1199px) {
   .u-section-4 {
    background-position: 100% 37.88%;
    background-size: 115%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 710px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-4 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 215px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 280px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 633px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 5px;
    margin-left: 0;
  }

  .u-section-4 .u-text-6 {
    margin-right: 0;
    margin-left: 0;
  }

  .u-section-4 .u-form-1 {
    width: 470px;
  }
}

@media (max-width: 991px) {
   .u-section-4 {
    background-position: 92.42% 47.79%;
    background-size: auto 135%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 502px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 112px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 105px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-4 .u-text-5 {
    margin-right: 0;
  }

  .u-section-4 .u-form-1 {
    width: 360px;
  }
}

@media (max-width: 767px) {
   .u-section-4 {
    background-position: 65.98% 43.62%;
    background-size: auto 160%;
  }

  .u-section-4 .u-sheet-1 {
    min-height: 602px;
  }

  .u-section-4 .u-layout-wrap-1 {
    margin-top: 243px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-2 {
    font-size: 1rem;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-text-4 {
    font-size: 1rem;
  }
}

@media (max-width: 575px) {
   .u-section-4 {
    background-position: 39.71% 39.43%;
  }

  .u-section-4 .u-btn-2 {
    margin-right: 0;
  }

  .u-section-4 .u-text-3 {
    font-size: 1.875rem;
  }

  .u-section-4 .u-form-1 {
    width: 340px;
  }
}

.u-section-4 .u-btn-1,
.u-section-4 .u-btn-1:before,
.u-section-4 .u-btn-1 > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, image-zoom, background-size, background-position;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1:hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1:hover:before {
  background-color: transparent !important;
}

.u-section-4 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-4 .u-btn-1.u-btn-1.u-btn-1.hover {
  transform: scale(1.1) translateX(0px) translateY(0px) !important;
  box-shadow: 0px 0px 0px  rgba(0,0,0,0) !important;
  text-shadow: 0px 0px 0px rgba(0,0,0,0) !important;
}

.u-section-4 .u-btn-1 {
  border-color: transparent !important;
}

.u-section-4 .u-container-layout:hover .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}

.u-container-layout.hover .u-section-4 .u-btn-1 {
  transform: rotate(0deg) scale(1) translateX(0px) translateY(0px) !important;
}